{% extends 'base.html.twig' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">&nbsp;MinhComputer</a>

    <ul class="navbar-nav">
        <!-- Home -->
        <li class="nav-item">
            <a class="nav-link" href="{{ asset('/') }}">Home</a> <!-- asset() là hàm lấy url của trang -->
        </li>
        <!-- Lọc theo hãng laptop -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Brand</a>
            <div class="dropdown-menu">
                <!-- Dùng hàm for để lấy ra tất cả element trong brands (hãng laptop) -->
                {% for brand in brands %}
                    <a class="dropdown-item" href="{{ asset('brand/' ~ brand.id ~ '') }}">{{ brand.Name }}</a>
                    <!-- ~ là nối chuỗi (để ra dạng brand/abc), phải thêm ~ '' ở sau để không bị lỗi (bug của Twig) -->
                {% endfor %}
            </div>
        </li>
        <!-- Sắp xếp -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Sort</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ asset('/sort/name') }}">Sort by Name</a>
                <a class="dropdown-item" href="{{ asset('/sort/price-asc') }}">Sort by Price (Low to High)</a>
                <a class="dropdown-item" href="{{ asset('/sort/price-desc') }}">Sort by Price (High to Low)</a>
            </div>
        </li>
        <!-- Trang quản lý -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Manager</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ asset('manager/product') }}">Product</a>
                <a class="dropdown-item" href="{{ asset('manager/brand') }}">Brand</a>
            </div>
        </li>
    </ul>
</nav>
{% endblock %}
{% block body %}
<div class="container d-flex justify-content-center mt-50 mb-50">
    <div class="row">
        <div class="col-md-10">
        {% for product in products %}
            <div class="card card-body mt-3">
                <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
                    <div class="mr-2 mb-3 mb-lg-0"> <img src="{{ asset('uploads/images/' ~ product.Image ~ '') }}" width="150" height="150" alt=""> </div>
                    <div class="media-body">
                        <h6 class="media-title font-weight-semibold"> <a href="#" data-abc="true">{{ product.Name }}</a> </h6>
                        <ul class="list-inline list-inline-dotted mb-3 mb-lg-2">
                            <li class="list-inline-item"><a href="{{ asset('brand/' ~ product.Brand.id ~ '') }}" class="text-muted">{{ product.Brand.Name }}</a></li>
                        </ul>
                        <p class="mb-3">{{ product.Description }}</p>
                        <ul class="list-inline list-inline-dotted mb-0">
                            <li class="list-inline-item">All products from <a href="{{ asset('brand/' ~ product.Brand.id ~ '') }}" data-abc="true">{{ product.Brand.Name }}</a></li>
                            <li class="list-inline-item">Add to <a href="#" data-abc="true">wishlist</a></li>
                        </ul>
                    </div>
                    <div class="mt-3 mt-lg-0 ml-lg-3 text-center">
                        <h3 class="mb-0 font-weight-semibold">${{ product.Price }}</h3>
                        <div class="text-muted">{{ product.Stock }} available</div>
                        <button type="button" class="btn btn-warning mt-4 text-white"><i class="icon-cart-add mr-2"></i> Add to cart</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
